/*Default CSS*/

/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #374151;
  max-width: 100%;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

img[align=center] {
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: #167BB7;
}
h1,
h3,
h4 {
  font-weight: 400;
}
h2,
h3,
h4 {
  color: #1F2937;
}
h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}
h2 {
  font-weight: 600;
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

.header {
  padding: 16px 0;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .06);
}
.header-wrapper .logo {
  max-width: 215px;
  margin: auto;
  width: 80%;
}
.header-wrapper .logo img {
  object-fit: contain;
}
@media (max-width: 767px) {
  .header-wrapper .logo a {
    display: flex;
    justify-content: center;
  }
}
.header-wrapper .search-form-wrapper {
  flex-grow: 1;
}
.header-wrapper .search-form {
  position: relative;
}
.header-wrapper .search-form .algolia-autocomplete {
  width: 100%;
}
.header-wrapper .search-form input[type="search"] {
  width: 100%;
  padding: 9px 9px 9px 40px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.header-wrapper .search-form .ds-dropdown-menu {
  max-width: none;
  width: 100%;
}
.header-wrapper .search-form .search-form-icon {
  position: absolute;
  left: 13px;
  top: 9px;
  z-index: 1;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.content-wrapper {
  padding: 24px 20px;
}
@media (min-width: 1024px) {
  .content-wrapper {
    padding-right: 54px;
    padding-left: 54px;
  }
}

.content-wrapper .banner {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 174px;
  margin-bottom: 24px;
  padding: 0 40px;
  background-color: #167BB7;
  border-radius: 8px;
}
.content-wrapper .banner .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main {
  position: relative;
  line-height: 1.5;
}

.main p {
  margin-bottom: 12px;
}

.main .sidebar {
  width: calc(100% + 15px);
  flex-shrink: 0;
  margin-right: 40px;
  position: sticky;
  top: 0;
  margin-left: -15px;
  padding: 24px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .06);
}

.main .sidebar .icon-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.main .sidebar .icon-title .left-part{
  display: flex;
  align-items: center;
  order: 2;
  flex-grow: 1;
}

.main .sidebar .icon-title .chevron,
.main .sidebar .icon-title.bd-link-active-wrap .chevron.rotated {
  transform: rotate(180deg);
}

.main .sidebar .icon-title.bd-link-active-wrap .bd-toc-link {
  color: #167BB7;
}

.main .sidebar .open .icon-title .chevron,
.main .sidebar .icon-title.bd-link-active-wrap .chevron{
  transform: rotate(0);
  transition-duration: .25s;
  transform-origin: center;
}

.main .sidebar .bd-link-active-wrap  .chevron path {
  fill: #D1D5DB;
}

.main .sidebar .bd-link-active-wrap svg path {
  fill: #167BB7;
}

.main .sidebar .icon-title svg {
  width: 16px;
  order: 1;
}
.main .sidebar-nav {
  height: 100vh;
}
.main .sidebar-nav,
.main .right-side-menu {
  overflow-y: scroll;
  padding: 0 24px;
}

.main .right-side-menu {
  direction: rtl;
  padding: 24px 0 0 10px;
}

.main .right-side-menu .navbar-nav {
  direction: ltr;
}

.main .sidebar-nav::-webkit-scrollbar,
.main .right-side-menu::-webkit-scrollbar
{
  width: 8px;
}

.main .sidebar-nav::-webkit-scrollbar-track,
.main .right-side-menu::-webkit-scrollbar-track
{
  background-color: transparent;
}

.main .sidebar-nav::-webkit-scrollbar-thumb,
.main .right-side-menu::-webkit-scrollbar-thumb
{
  background-color: #F3F4F6;
  width: 6px;
  border-radius: 32px;
}

.main .sidebar-nav a.nav-link {
  transition-duration: .25s;
  transition-property: color;
}
.main .sidebar-nav a.nav-link:hover {
  color: #167BB7;
}
.main .sidebar-nav a {
  color: #6B7280;
}

.main .sidebar-nav a.bd-toc-link {
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  display: block;
  color: #6B7280;
  transition-duration: .25s;
  transition-property: color;
}
.main .sidebar-nav li:hover a.bd-toc-link,
.main .sidebar-nav li.active a.bd-toc-link,
.main .sidebar-nav .open a.bd-toc-link {
  color: #374151;
}
.main .sidebar:after {
  content: '';
  position: absolute;
  top: 30px;
  right: -12px;
  width: 13px;
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}
.sidebar-toggler {
  display: none;
}
@media (min-width: 768px) {
  .sidebar-toggler {
    display: block;
    position: absolute;
    top: 30px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F3F4F6;
    transition-duration: .25s;
    z-index: 2;
  }
  .sidebar-toggler:hover {
    background-color: #efefef;
  }
  .sidebar-toggler:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 12px;
    transform: translate(-50%, -50%) rotate(0deg);
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.33337 10.6666L1.66671 5.99998L6.33337 1.33331' stroke='%23167BB7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: .25s;
  }
  .sidebar-toggler.active:after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}


pre.pygments .tok-o {
  color: #167BB7;
}

.main p code {
  color: #374151;
  font-size: 14px;
}

.main table,.main table td,.main table th {
  border: 1px solid #dedede;
  padding: 10px;
}

.main .note table,.main .note table td,.main .note table th {
  border: none;
}

.main .note .icon {
  width: 60px;
}

.main .note .icon .fa.icon-note {
  display: none;
}

.main .note .content {
  font-size: 14px;
  font-weight: normal;
  color: #374151;
}

.main table td.icon svg{
  width: 30px;
  height: auto;
}

.main table td.icon .title {
  display: none;
}

.main table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.main table .title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}

pre.pygments .tok-o {
  color: #167BB7!important;
}

.main .sidebar-nav > ul li ul {
  display: none;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 14px;
  border-bottom: 1px solid #F3F4F6;
}

.main .sidebar-nav > ul li ul.active-list {
  display: block;
}

.main .sidebar-nav > ul li ul li a{
  display: block;
  position: relative;
  padding-left: 16px;
  font-size: 14px;
}

.main .sidebar-nav .list-item-active a {
  color: #167BB7;
}

.main .sidebar-nav > .navbar-nav  > li {
  margin-bottom: 8px;
}

.main .right-side-menu {
  position: sticky;
  top: 16px;
  height: calc(100vh - 40px);
  margin-top: 24px;
}

.main .right-side-menu > .navbar-nav {
  position: relative;
}

.sidebar-wrapper {
  margin-left: 0;
  transition-duration: .25s;
  flex-shrink: 0;
  width: calc(100% - 16px);
}
.main-wrapper {
  flex-grow: 1;
}
.bd-links-wrapper {
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .sidebar-wrapper {
    width: 250px;
  }
  .sidebar-hide .sidebar-wrapper {
    margin-left: -216px;
  }
  .main-wrapper {
    width: calc(100% - 250px);
  }
}
@media (min-width: 1200px) {
  .sidebar-hide .sidebar-wrapper {
    margin-left: -210px;
  }
  .bd-links-wrapper {
    width: 268px;
  }
}


.main .right-side-menu > .navbar-nav:before {
  content: "In this document";
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1F2937;
}

.main .right-side-menu > ul > li > a {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
  padding: 4px 0;
}

.main .right-side-menu .nav-link {
  border: none!important;
  color: #6B7280!important;
}

.main .right-side-menu .nav-link.active{
  padding-left: 0;
  color: #167BB7!important;
  font-weight: 500;
}

.main .right-side-menu .navbar-nav {
  display: block;
}
nav[data-toggle=toc] .nav > li > a {
  transition-property: color;
  transition-duration: .25s;
}
nav[data-toggle=toc] .nav > li > a:focus, nav[data-toggle=toc] .nav > li > a:hover {
  padding-left: 0;
  color: #167BB7!important;
}
nav[data-toggle=toc] .nav .nav > li > a:focus, nav[data-toggle=toc] .nav .nav > li > a:hover,
nav[data-toggle=toc] .nav .nav > li > .active, nav[data-toggle=toc] .nav .nav > li > .active:focus, nav[data-toggle=toc] .nav .nav > li > .active:hover {
  padding-left: 30px;
}

.main img {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 10px;
  display: inline;
}

.main .note img {
  box-shadow: none;
  border-radius: 0;
  min-width: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.main .imageblock img {
  height: auto;
}

.main .listingblock, .literalblock > .content pre {
  padding: 8px 14px;
  background: #50576A;
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}

pre.pygments {
  background: #50576A!important;
  margin-bottom: 0;
}

.main .listingblock  .tok-nt {
  color: #29A9C9;
}

.main .listingblock .tok-s {
  color: #E44C3A;
}

.main .listingblock  .tok-p {
  color: #F5FBFF;
}

.main ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  color: #167BB7;
  margin-left: 20px;
  margin-bottom: 16px;
}

.main ol > li {
  position: relative;
  counter-increment: my-awesome-counter;
  font-size: 10px;
  font-weight: 600;
}

.main ol> li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  top: -1px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E5E7EB;
  color: #6B7280;
  font-weight: 400;
  font-size: 12px;
}

.main ol.arabic:first-child p {
  color: #374151;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.main .content-wrapper ul{
  color: #374151;
  list-style: disc;
  margin-left: 20px;
}

.main .content-wrapper ul > li ul {
  list-style: circle;
}

.main .content-wrapper ul.nav-tabs{
  list-style: none;
}

.main .content-wrapper ol.loweralpha {
  list-style: none;
}

.main ol.loweralpha > li::before {
  content: ' ';
  width: 8px;
  height: 8px;
  background-color: #9CA3AF;
  border-radius: 50%;
  border: none;
  left: -5px;
  top: 8px;
}


.main h2, .main h3 {
  margin-bottom: 16px;
  padding-top: 24px;
}

.main h4 {
  margin-bottom: 16px;
  padding-top: 16px;
}

.content-wrapper h2 a, .content-wrapper h3 a, .content-wrapper h4 a {
  display: none;
  margin-left: 5px;
}

.content-wrapper h4 a svg {
  height: 14px;
  width: auto;
}

.content-wrapper h2:hover a, .content-wrapper h3:hover a, .content-wrapper h4:hover a {
  display: inline;
}

.breadcrumbs-wrapper {
  margin-bottom: 24px;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li:not(:last-of-type):after {
  content: '/';
  margin-left: 6px;
  margin-right: 6px;
}
.breadcrumbs-list a {
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #374151;
}
.breadcrumbs-list a svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.note table code {
  color: #374151;
}

.banner .absolute-figure {
  position: absolute;
}

.banner .absolute-figure.abstract-figure {
  right: 0;
}

.banner .absolute-figure.circle2 {
  right: 30%;
  top: 10%;
}

.banner .absolute-figure.circle3 {
  right: 15%;
  top: 10%;
}

.banner .absolute-figure.circle4 {
  left: 5%;
  top: 10%;
}

.banner .absolute-figure.circle5 {
  left: 30%;
}

.banner .absolute-figure.circle6 {
  left: 6%;
  bottom: 0;
}

.banner .absolute-figure.circle7 {
  left: 35%;
  bottom: 15%;
}

.banner .absolute-figure.circle8 {
  left: 55%;
  bottom: 0;
}

.banner .absolute-figure.circle9 {
  bottom: 0;
  right: 0;
}

.doclink {
  position: fixed;
  bottom: 0;
  padding: 0 15px 10px;
  background-color: #FBFDFF;
  z-index: 1000;
  font-size: 12px;
}

.btn-primary, .btn-primary:hover {
  background-color: #167BB7;
  border-color: #167BB7;
}

.card {
  height: 100%;
}
.card-wrapper .card-text {
  min-height: 80px;
  margin-bottom: 16px;
}

.card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.25rem;
}

pre.pygments .tok-c1 {
  color: #29A9C9!important;
}

@media screen and (max-width: 1520px) {
  .card-wrapper .card-text {
    min-height: 110px;
  }
}

.DocSearch.DocSearch-Button {
    margin-left: 0;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    background-color: transparent;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}
.search-form-wrapper .DocSearch-Button-Keys {
  display: none;
}
.DocSearch-Hit-content-wrapper {
  overflow-x: inherit !important;
}
.search-form-wrapper .DocSearch-Button .DocSearch-Search-Icon {
  color: #9CA3AF;
  width: 16px;
  height: 16px;
}
.search-form-wrapper .DocSearch-Button-Placeholder {
  padding-left: 10px;
}
.oneline_with_image img {
    display: inline-block;
    height: 30px;
    margin: 0 10px;
}

.warning table td, .warning table,
.important table td, .important table {
  border: none;
}
.copy-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  margin: -8px -14px 8px;
  padding: 0 16px;
  background-color: #3C4356;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.copy-icon svg {
  cursor: pointer;
}
.icon-tip {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 502 502' xml:space='preserve'%3E%3Cpath d='M230.523 78.722c-35.583-.342-69.221 13.48-94.756 38.802-25.528 25.316-39.587 58.839-39.587 94.396 0 34.708 13.278 67.567 37.387 92.524 24 24.844 37.216 57.409 37.216 91.697v70.281c0 5.523 4.477 10 10 10h12.756C197.871 491.185 211.53 502 227.676 502s29.805-10.815 34.138-25.578h16.166c5.523 0 10-4.477 10-10v-70.275c0-34.627 12.99-66.961 36.576-91.044 24.522-25.04 38.027-58.133 38.027-93.185 0-35.38-13.723-68.697-38.64-93.812-24.902-25.1-58.079-39.086-93.42-39.384zM227.676 482c-4.787 0-9.076-2.17-11.936-5.578h23.872c-2.86 3.408-7.149 5.578-11.936 5.578zm40.304-25.578h-77.197v-37.125h77.197v37.125zm42.287-165.313c-27.269 27.844-42.287 65.148-42.287 105.039v3.15h-77.197v-3.156c0-39.5-15.211-77-42.832-105.593-20.488-21.208-31.771-49.133-31.771-78.629 0-30.183 11.958-58.663 33.67-80.194 21.72-21.538 50.338-33.226 80.505-33.005 61.882.521 112.228 51.301 112.228 113.197 0 29.789-11.477 57.912-32.316 79.191zM229.381 55.584c5.523 0 10-4.477 10-10V10c0-5.523-4.477-10-10-10s-10 4.477-10 10v35.584c0 5.523 4.477 10 10 10zM85.246 29.896a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.247 5.458-9.5 2.212-13.968l-7.108-9.783C91.073 3.89 84.82 2.9 80.351 6.146c-4.468 3.247-5.458 9.5-2.212 13.968l7.107 9.782zM124.729 84.239a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.246 5.458-9.5 2.212-13.968l-19.113-26.308c-3.246-4.468-9.499-5.459-13.968-2.212-4.468 3.246-5.458 9.5-2.212 13.968l19.112 26.307zM37.031 160.15l33.843 10.996a10.01 10.01 0 0 0 3.092.492c4.215 0 8.136-2.687 9.509-6.913 1.707-5.253-1.168-10.894-6.42-12.601l-33.843-10.996c-5.251-1.705-10.894 1.168-12.601 6.42-1.707 5.254 1.167 10.895 6.42 12.602zM84.808 260.51c-1.707-5.253-7.346-8.126-12.601-6.42l-33.843 10.996c-5.252 1.707-8.127 7.348-6.42 12.601 1.373 4.226 5.293 6.913 9.509 6.913a10.01 10.01 0 0 0 3.092-.492l33.843-10.996c5.252-1.708 8.126-7.349 6.42-12.602zM102.626 391.668c-4.467-3.246-10.721-2.255-13.968 2.212l-8.903 12.253c-3.246 4.468-2.256 10.722 2.212 13.968a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l8.903-12.253c3.246-4.467 2.256-10.72-2.213-13.967z'/%3E%3Cpath d='M134.544 347.736c-4.468-3.246-10.722-2.255-13.968 2.212l-8.845 12.175c-3.246 4.468-2.255 10.722 2.212 13.968a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l8.845-12.175c3.246-4.467 2.255-10.721-2.213-13.967zM338.347 336.895c-3.246-4.468-9.499-5.459-13.968-2.212-4.468 3.247-5.458 9.5-2.212 13.968l20.916 28.789a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.247 5.458-9.5 2.212-13.968l-20.917-28.79zM426.045 260.984l-33.843-10.997c-5.252-1.705-10.894 1.168-12.601 6.42-1.707 5.252 1.168 10.894 6.42 12.601l33.843 10.997a10.01 10.01 0 0 0 3.092.492c4.215 0 8.136-2.687 9.509-6.913 1.707-5.251-1.167-10.893-6.42-12.6zM471.39 130.367c-1.706-5.252-7.347-8.127-12.601-6.42l-14.678 4.769c-5.252 1.707-8.127 7.348-6.42 12.601 1.373 4.226 5.293 6.913 9.509 6.913a10.01 10.01 0 0 0 3.092-.492l14.678-4.769c5.252-1.708 8.126-7.349 6.42-12.602zM387.777 167.536a10.01 10.01 0 0 0 3.092-.492l25.994-8.446c5.252-1.707 8.127-7.348 6.42-12.601-1.707-5.252-7.347-8.127-12.601-6.42l-25.994 8.446c-5.252 1.707-8.127 7.348-6.42 12.601 1.374 4.225 5.294 6.912 9.509 6.912zM320.89 83.916a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l20.916-28.789c3.246-4.468 2.255-10.722-2.212-13.968-4.469-3.246-10.722-2.255-13.968 2.212l-20.916 28.789c-3.248 4.469-2.257 10.722 2.211 13.969zM288.349 135.549c-11.289-8.76-24.609-14.981-38.521-17.992-5.395-1.169-10.721 2.26-11.889 7.659-1.168 5.398 2.261 10.721 7.659 11.889 11.007 2.382 21.55 7.308 30.491 14.245a9.954 9.954 0 0 0 6.124 2.1 9.981 9.981 0 0 0 7.907-3.87c3.385-4.363 2.592-10.645-1.771-14.031zM202.914 119.066c-41.096 11.729-69.797 49.799-69.797 92.579 0 5.523 4.477 10 10 10s10-4.477 10-10c0-33.895 22.735-64.056 55.287-73.346 5.311-1.516 8.387-7.05 6.872-12.361-1.518-5.31-7.052-8.388-12.362-6.872z'/%3E%3C/svg%3E");
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
}
.main table td.icon {
  text-align: center;
}
.icon-warning {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='554.2' height='554.199' xml:space='preserve' fill='%23E44C3A'%3E%3Cpath d='M538.5 386.199 356.5 70.8a91.803 91.803 0 0 0-79.501-45.9c-32.8 0-63.1 17.5-79.5 45.9L12.3 391.6a91.793 91.793 0 0 0 0 91.8c16.4 28.4 46.7 45.9 79.5 45.9H462.4c50.7 0 91.8-41.101 91.8-91.8 0-19-5.8-36.7-15.7-51.301zm-222.2 30.7c0 21.7-16.7 38.3-39.2 38.3s-39.2-16.6-39.2-38.3V416c0-21.601 16.7-38.301 39.2-38.301S316.3 394.3 316.3 416v.899zm.9-258.199-19.4 169.4c-1.3 12.2-9.4 19.8-20.7 19.8s-19.4-7.7-20.7-19.8L237 158.6c-1.3-13.1 5.801-23 18-23h44.1c12.2.1 19.4 10 18.1 23.1z'/%3E%3C/svg%3E%0A");
  width: 40px;
  height: 39px;
  background-size: 100%;
}
.icon-important {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cg transform='scale(.521)'%3E%3Ccircle cx='96' cy='96' r='74' fill='%23E44C3A'/%3E%3Cpath d='M86 48h20l-4 72H90z' fill='%23fff'/%3E%3Ccircle cx='96' cy='140' r='10' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.main .admonitionblock.tip table,
.main .admonitionblock.tip table td {
  border: none;
}
/*Light box start*/

.lightbox-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ebebeb;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 8px;
  max-width: 95vw;
  width: 100%;
  height: 90vh;
}
.lightbox-modal .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.lightbox-modal .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}
@media (max-width: 1023px) {
  .lightbox-modal {
    height: auto;
    max-width: 95vw;
  }
}
#close-ligtbox {
  position: absolute;
  right: -35px;
  top: -35px;
  display: block;
  width: 30px;
  font-size: 36px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 1023px) {
  #close-ligtbox {
    right: 0;
    top: -40px;
    width: 24px;
    font-size: 28px;
  }
}
.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.imageblock img, .paragraph .image img {
  cursor: pointer;
}
/*Light box end*/

.ulist {
  margin-left: 10px;
}
.main ol.arabic:first-child .ulist p,
.ulist ul li p {
  margin-left: 0!important;
}

.ulist li::marker {
  font-size: 20px;
  color: #9CA3AF;
}
