/*Default CSS*/

/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

:root {
  --color: #5C6287;
  --primary-color: #155EEF;
  --link-color: #2970ff;
  --heading-color: #293056;
  --content-bg: #5C6287;
  --background-color: #ffffff;
  --sidebar-item-color: #101828;
  --color-gray-200: #EAECF0;
  --color-searchbar: #ffffff;
  --color-base-white: #D1D5DB;
  --color-gray-100: #F5F8FF;
  --color-gray-50:#F9FAFB;
  --color-primary-50: #EFF4FF;
  --color-primary-100: #D1E0FF;
  --color-table-bg: #ffffff;
  --btn-primary-hover: #0040C1;

  --sidebar-control-bg: #F3F4F6;
  --sidebar-control-color: #2970FF;

  --main-text-color: #D0D5DD;

  --header-height: 70px;

  --snippet-header-bg: #475467;
  --snippet-header-color: #EFF4FF;
  --snippet-body-bg: #344054;
  --snippet-body-color: #D0D5DD;
  --snippet-body-border-color: #475467;
}

[data-theme="dark"] {
  --color: #D0D5DD;
  --heading-color: #EAECF0;
  --content-bg: #F2F4F7;
  --background-color: #101828;
  --sidebar-item-color: #FFFFFF;
  --color-gray-200: #1D2939;
  --color-searchbar: #344054;
  --color-base-white: #4d5f7e;
  --color-gray-100: #1D2939;
  --color-gray-50: #1D2939;
  --color-primary-50: #1D2939;
  --color-primary-100: #344054;
  --color-table-bg: #101828;
  color-scheme: dark;

  --link-color: #528BFF;

  --sidebar-control-bg: #1D2939;
  --sidebar-control-color: #fff;
}

html {
  scroll-padding-top: 60px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 150%;
  color: var(--color);
  background-color: var(--background-color) !important;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

img[align=center] {
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: var(--link-color);
  word-break: break-word;
}
a:not(.btn):hover {
  color: var(--link-color)!important;
}
h1,
h3,
h4 {
  font-weight: 500;
}
h2,
h3,
h4 {
  color: var(--heading-color);
}
h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.015em;
  color: var(--heading-color);
}
h2 {
  font-size: 36px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}

strong {
  font-weight: 600;
}

.header {
  padding: 16px 0;
  background: var(--background-color);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .06); */
  border-bottom: solid 1px var(--color-gray-200);
}
.header.sticky{
  position: fixed;
  width: 100vw;
  z-index: 2;
}
@media (min-width: 1024px) {
  .header-logo {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
  }
}
.header-wrapper .logo {
  max-width: 215px;
  width: 60%;
  padding-left: 24px;
}
.header-wrapper .logo img {
  object-fit: contain;
}
@media (max-width: 767px) {
  .header-wrapper .logo a {
    display: flex;
    justify-content: center;
  }
}
.header-search {
  flex-grow: 1;
}
@media (min-width: 1200px) {
  .header-search {
    max-width: calc(100% - 590px);
    padding-right: 80px;
  }
  .header-wrapper .search-form-wrapper {
    flex-grow: 1;
    width: 800px;
    padding-left: 20px;
    margin: auto;
    transition: 0.2s all;
  }
}
@media (max-width: 1500px) and (min-width: 1024px) {
  .header-search {
    padding: 0 40px;
  }
  .header-wrapper .search-form-wrapper {
    margin: 0 !important;
    padding-left: 0;
  }
}
@media (max-width: 1024px) {
  .header-wrapper .search-form-wrapper{
    width: 100% !important;
  }

  .header-search {
    max-width: 50px !important;
    transition: 0.2s all;
    margin-left: auto;
    margin-right: 24px;
  }

  .DocSearch-Button-Placeholder {
    display: none;
  }

  .DocSearch.DocSearch-Button {
    width: 50px !important;
  }
}
.header-wrapper .search-form {
  position: relative;
}
.header-wrapper .search-form .algolia-autocomplete {
  width: 100%;
}
.header-wrapper .search-form input[type="search"] {
  width: 100%;
  padding: 9px 9px 9px 40px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.header-wrapper .search-form .ds-dropdown-menu {
  max-width: none;
  width: 100%;
}
.header-wrapper .search-form .search-form-icon {
  position: absolute;
  left: 13px;
  top: 9px;
  z-index: 1;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.content-wrapper {
  padding: 24px;
  width: 100%;
}
@media (min-width: 1020px) {
  .content-wrapper {
    padding: 0px 40px 40px 40px;
    transition: 0.2s all;
  }
}

@media(min-width: 1500px) {
  .main-wrapper {
    max-width: 880px;
  }
  .content-wrapper {
    max-width: 880px;
  }
}

.content-wrapper .banner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 56px 0px 12px 0px;
  border-radius: 8px;
}
.content-wrapper .banner .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main {
  position: relative;
  line-height: 1.5;
}

.main p {
  margin-bottom: 12px;
}

.main .sidebar {
  width: calc(100% + 15px);
  flex-shrink: 0;
  margin-right: 40px;
  position: sticky;
  top: 0;
  margin-left: -15px;
  padding: 24px 0 24px 16px;
}

.main .sidebar .icon-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.main .sidebar .icon-title .left-part{
  display: flex;
  align-items: center;
  order: 2;
  flex-grow: 1;
}

.main .sidebar .icon-title .chevron,
.main .sidebar .icon-title.bd-link-active-wrap .chevron.rotated {
  transform: rotate(180deg);
}

.main .sidebar .icon-title.bd-link-active-wrap .bd-toc-link {
  /* color: var(--link-color); */
}

.main .sidebar .open .icon-title .chevron,
.main .sidebar .open .icon-title.bd-link-active-wrap .chevron{
  transform: rotate(0);
  transition-duration: .25s;
  transform-origin: center;
}

.main .sidebar .bd-link-active-wrap  .chevron path {
  fill: #D1D5DB;
}

.main .sidebar .bd-link-active-wrap svg path {
  fill: var(--link-color);
}

.main .sidebar .icon-title svg {
  width: 16px;
  order: 1;
}
.main .sidebar-nav {
  height: 100vh;
}
.main .sidebar-nav,
.main .right-side-menu {
  overflow-y: scroll;
  padding: 0 24px 160px 24px;
}

.main .right-side-menu {
  padding: 10px 0px;
}

.main .right-side-menu .navbar-nav {
  direction: ltr;
}

::-webkit-scrollbar,
*::-webkit-scrollbar, *:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  color: var(--color-gray-200);  
  background-color: transparent !important;
}

::-webkit-scrollbar-track *::-webkit-scrollbar-track {
  background-color: transparent !important;
  border: none;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-200);
  width: 6px;
  border-radius: 32px;
  border: none;
}

*,
*:hover,
*:active,
*:focus {
  scrollbar-track-color:  transparent !important;
  scrollbar-color: var(--color-gray-200) transparent !important;
  scrollbar-width: thin !important;
}

.main .sidebar-nav a.nav-link {
  padding: 8px 12px 6px 12px;
  margin-left: 8px;
}
.main .sidebar-nav a.nav-link:hover {
  color: var(--link-color);
  background-color: var(--color-gray-100);
  border-radius: 10px;
}
.main .sidebar-nav a {
  color: var(--color);
  font-weight: 400;
}

.main .sidebar-nav a.bd-toc-link {
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
  display: block;
  color: var(--color);
  transition-duration: .25s;
  transition-property: color;
}
.main .sidebar-nav li:hover a.bd-toc-link,
.main .sidebar-nav li.active a.bd-toc-link,
.main .sidebar-nav .open a.bd-toc-link {
  color: var(--color);
}
.sidebar-toggler {
  display: none;
}

.main.sidebar-show .sidebar-wrapper {
  margin-left: 0;
}

.main .article-container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.main.sidebar-show .article-container {
  display: flex;
  width: calc(100vw - 320px);
  margin-left: 320px;
}
.main .sidebar-wrapper {
  position: fixed;
  top: 0;
  padding-top: var(--header-height);
  background-color: var(--background-color);
  border-right: 1.5px solid var(--color-gray-200);
  width: 320px;
  margin-left: -300px;
  flex-shrink: 0;
  transition: margin-left .25s linear, left .25s linear;
}

.main.sidebar-show .sidebar__control>svg {
  transform: rotate(0deg);
}
.sidebar__control {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--sidebar-control-color);
  background-color: var(--sidebar-control-bg);
  z-index: 2;
}
.sidebar__control>svg {
  width: 8px;
  height: 12px;
  transform: rotate(180deg);
  transition-duration: .25s;
}

@media (max-width: 1024px) {
  .sidebar__control {
    display: none;
  }

  .sidebar-toggler {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-duration: .25s;
    margin-left: 24px;
  }

  .sidebar-toggler.active {
    padding-top: 10px;
  }

  .sidebar-wrapper {
    margin-left: 0;
    width: 100vw !important;
    left: -101vw !important;
    z-index: 1;
    transition: .2s all;
  }

  .sidebar-full-width-show .sidebar-wrapper {
    left: 0 !important;
    margin-left: 0 !important;
  }

  .header-logo {
    display: none;
  }

  .content-wrapper {
    width: 100vw !important;
  }

  .main .article-container {
    display: flex;
    justify-content: space-around;
    width: 100% !important;
    margin-left: 0 !important;
  }
}

pre.pygments .tok-o {
  color: #84ADFF;
}

.main p code {
  color: inherit;
  font-size: inherit;
}

.main .table-wrap {
  border-radius: 12px;
  border: 1px solid var(--color-gray-200);
  background: linear-gradient(180deg, var(--color-gray-50), transparent);
  margin-bottom: 15px;
}
.main .table-wrap .tableblock tbody {
  border-radius: 9px;
}
.main .table-wrap .tableblock tbody:is(:nth-child(2)) tr:first-child td:first-child {
  border-top-left-radius: 12px;
}
.main .table-wrap .tableblock tbody:is(:nth-child(2)) tr:first-child td:last-child {
  border-top-right-radius: 12px;
}
.main .table-wrap .tableblock tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.main .table-wrap .tableblock tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.main .table-wrap table tbody {
  background: var(--color-table-bg);
  border: none;
}

.main table, .main table td,.main table th {
  padding: 12px;
  font-weight: 500;
  font-size: 14px;
}
.main table td:not(:first-child),.main table th:not(:first-child) {
  border-left: 1px solid var(--color-gray-200);
  font-size: 14px;
  line-height: 21px;
}
.main table td {
  font-weight: 400 !important;
  color: var(--color);
}
.main table, .main .admonitionblock table tr, .main table tr:not(:first-child):is(:last-child) {
  border-bottom: none !important;
}
.main table,.main table tr:not(:last-child) {
  border-bottom: 1px solid var(--color-gray-200);
}

.main table,.main table thead tr:first-child {
  border-bottom: 1px solid var(--color-gray-200);
}

.main .note table,.main .note table td,.main .note table th {
  border: none;
}

.main .note .icon {
  width: 20px;
  height: 20px;
  display: flex;
}

.main .note .icon.info-icon {
  height: 100%;
  width: 100%;
}

.main .note .icon .fa.icon-note {
  display: none;
}

.main .note .content {
  font-weight: 400;
  font-size: 14px;
  color: var(--color);
  padding-left: 12px;
}

.main .note .content strong:is(:first-child) {
  display: block;
  height: 21px;
  color: var(--heading-color);
}

.main table td.icon svg{
  height: auto;
}

.main table td.icon .title {
  display: none;
}

.main table {
  width: 100%;
  border-collapse: collapse;
}
/* tr td:first-child.tableblock p {
  background-color: var(--color-gray-100);
  border-radius: 8px;
  padding: 4px 10px 4px 10px;
} */
.main .tableblock p {
  display: inline-block;
  margin-bottom: 0px !important;
  font-size: 14px;
  font-weight: 400;
}
.main .tableblock thead tr {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 12px 24px 12px 24px;
}
.main table .title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}

.main .sidebar-nav > ul li ul {
  display: none;
  margin-left: 12px;
  padding-bottom: 8px;
  font-size: 14px;
  border-left: 1px solid var(--color-gray-200);
}

.main .sidebar-nav > ul li ul.active-list {
  display: block;
}

.main .sidebar-nav > ul li ul li a {
  display: block;
  position: relative;
  padding-left: 16px;
  font-size: 14px;
}

.main .sidebar-nav .list-item-active a {
  color: var(--link-color);
  margin-bottom: 4px;
  background-color: var(--color-gray-100);
  border-radius: 10px;
  font-weight: 400;
}

.main .sidebar-nav > .navbar-nav  > li {
  margin-bottom: 0;
}

.main .right-side-menu {
  position: fixed;
  top: 126px;
  height: calc(100vh - 120px);
  width: 300px;
}

@media (max-width: 1200px) {
  .main .right-side-menu, .bd-links-wrapper {
    display: none;
  }
  .main .article-container .center-content  {
    display: block !important;
  } 
}

.main .right-side-menu > .navbar-nav {
  position: relative;
}

.bd-links-wrapper {
  flex-shrink: 0;
}
.right-side-menu ul ul {
  padding-left: 16px;
}
ul.nav.navbar-nav {
  padding-left: 0px !important;
}

@media (min-width: 1200px) {
  .main-wrapper {
    max-width: calc(100% - 320px);;
  }
  .bd-links-wrapper {
    width: 300px;
    margin-left: auto;
  }
}

.main-wrapper {
  margin-top: var(--header-height);
}

.main .right-side-menu > .navbar-nav:before {
  content: "In this document";
  display: block;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--heading-color);
}

.main .right-side-menu > ul > li > a {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 0;
}

.main .right-side-menu .nav-link {
  padding-left: 10px !important;
  border-left: 2px solid transparent;
  color: var(--color) !important;
  line-height: 18px;
  font-size: 12px;
  font-weight: 400;
}

.main .right-side-menu ul ul li .nav-link {
  padding-left: 25px !important;
  line-height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main .right-side-menu .nav-link:hover {
  border-left: solid 2px transparent !important;
  color: var(--link-color)!important;
}


.main .right-side-menu .nav-link.active{
  padding-left: 10px;
  border-left: solid 2px var(--link-color) !important;
  color: var(--link-color)!important;
  font-weight: 600 !important;
}

.main .right-side-menu .navbar-nav .navbar-nav .nav-link.active{
  padding-left: 10px;
  border-left: solid 2px transparent !important;
  color: var(--link-color)!important;
  border-left: solid 2px var(--link-color) !important;
  font-weight: 500;
}

.main .right-side-menu .navbar-nav {
  display: block;
}
.main nav[data-toggle=toc] .nav > li > a {
  padding-left: 0;
  transition-property: color;
  transition-duration: .25s;
}
.main nav[data-toggle=toc] .nav > li > a:focus,
.main nav[data-toggle=toc] .nav > li > a:hover {
  color: var(--link-color)!important;
}
.main nav[data-toggle=toc] .nav .nav > li > a:focus,
.main nav[data-toggle=toc] .nav .nav > li > a:hover,
.main nav[data-toggle=toc] .nav .nav > li > .active,
.main nav[data-toggle=toc] .nav .nav > li > .active:focus,
.main nav[data-toggle=toc] .nav .nav > li > .active:hover {
  padding-left: 0;
}
.main nav[data-toggle=toc] .nav-link.active:hover {
  padding-left: 0;
}
.main img {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 24px;
  margin-top: 10px;
  display: inline;
}
.main .note img {
  box-shadow: none;
  border-radius: 0;
  min-width: 40px;
  width: 40px;
  margin-bottom: 10px;
}
.main .imageblock img {
  height: auto;
}
.main p span.image {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 16px;
  width: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
.main p span.image img {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  box-shadow: none;
  object-fit: cover;
}
.main .listingblock {
  color-scheme: dark;
}
.main .listingblock .content pre {
  color: white !important;
}
.main .listingblock, .literalblock > .content pre {
  padding: 8px 14px;
  background: var(--snippet-body-bg) !important;
  border: 1px solid var(--snippet-body-border-color);
  border-radius: 12px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  color: white !important;
}
pre.pygments {
  background: var(--snippet-body-bg) !important;
  margin-bottom: 0;
  color-scheme: dark;
}
pre.pygments .table-wrap, pre.pygments tbody {
  background: transparent !important;
  border: none !important;
}
pre.pygments table td:not(:first-child) {
  border-left: 1px solid #374a63 !important;
}
.main .listingblock  .tok-nt {
  color: #29A9C9 !important
}
.main .listingblock .tok-s, pre.pygments .tok-s1, pre.pygments .tok-s2,
pre.pygments .tok-ss {
  color: #FDA29B !important;
}
.main .listingblock .tok-p {
  color: var(--snippet-body-color) !important
}

.main ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  color: var(--link-color);
  margin-left: 20px;
  margin-bottom: 16px;
}
.main ol > li {
  position: relative;
  counter-increment: my-awesome-counter;
  font-weight: 600;
}

.main ol.arabic > li::before {
  content: counter(my-awesome-counter);
  position: absolute;
  top: -1px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #E5E7EB;
  color: var(--color);
  background-color: var(--color-primary-50);
  font-weight: 400;
  font-size: 12px;
}
.main ol > li::before {
}

.main ol.arabic:first-child p {
  color: var(--color);
  margin-left: 10px;
  font-weight: 400;
}

.main .content-wrapper ul{
  color: var(--color);
  list-style: disc;
  margin-left: 20px;
}

.main .content-wrapper ul > li ul {
  margin-left: 0;
  list-style-type: none;
}

/* @media (max-width: 1200px) {
  .main .article-container {
    margin-left: 80px;
  width: calc(100vw - 320px);
  }
} */

.main .article-container .center-content {
  display:flex;
  justify-content: space-between;
  transition-duration: .25s;
  max-width: 100%;
}
.main .content-wrapper ul.nav-tabs{
  list-style: none;
  border-bottom: none !important;
  margin-left: 10px !important;
  margin-bottom: -1px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: var(--heading-color);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border-color: transparent;
  background-color: transparent;
  border-bottom: 2.5px solid;
  color: var(--link-color);
}
.main ol ol {
  margin-left: 30px;
}
.main ol.loweralpha[type=a] > li {
  list-style-type: lower-alpha;
}
.main ol.lowerroman[type=i] > li {
  list-style-type: lower-roman;
}
.main ol li::marker {
  color: #6B7280;
}

.main h2, .main h3 {
  margin-bottom: 16px;
  padding-top: 24px;
}

.main h4 {
  margin-bottom: 16px;
  padding-top: 16px;
}

.content-wrapper h2 a, .content-wrapper h3 a, .content-wrapper h4 a {
  display: none;
  margin-left: 5px;
}
.content-wrapper h2 a, .content-wrapper h3 a, .content-wrapper h4 a svg{
  fill: var(--color);
}
.content-wrapper h4 a svg {
  height: 14px;
  width: auto;
}

.content-wrapper h2:hover a, .content-wrapper h3:hover a, .content-wrapper h4:hover a {
  display: inline;
}

.breadcrumbs-wrapper {
  margin-bottom: 24px;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li:not(:last-of-type):after {
  content: '/';
  margin-left: 6px;
  margin-right: 6px;
}
.breadcrumbs-list a {
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: var(--color);
}
.breadcrumbs-list a svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.note table code {
  color: var(--color);
}

.banner h1 {
  font-size: 48px;
  font-weight: 500;
}

.banner .absolute-figure {
  position: absolute;
}

.banner .absolute-figure.abstract-figure {
  right: 0;
}

.banner .absolute-figure.circle2 {
  right: 30%;
  top: 10%;
}

.banner .absolute-figure.circle3 {
  right: 15%;
  top: 10%;
}

.banner .absolute-figure.circle4 {
  left: 5%;
  top: 10%;
}

.banner .absolute-figure.circle5 {
  left: 30%;
}

.banner .absolute-figure.circle6 {
  left: 6%;
  bottom: 0;
}

.banner .absolute-figure.circle7 {
  left: 35%;
  bottom: 15%;
}

.banner .absolute-figure.circle8 {
  left: 55%;
  bottom: 0;
}

.banner .absolute-figure.circle9 {
  bottom: 0;
  right: 0;
}

.doclink {
  position: fixed;
  bottom: 0;
  padding: 0 15px 10px;
  background-color: var(--background-color);
  z-index: 1000;
  font-size: 12px;
}

.btn-primary {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  border-color: var(--btn-primary-hover);
}

.card {
  height: 100%;
  background-color: var(--background-color);
  border-color: var(--color-primary-50);
}
.card-wrapper .card-text {
  min-height: 80px;
  margin-bottom: 16px;
}

.card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0.25rem;
}

pre code {
  color: var(--snippet-body-color);
}

pre.pygments span {
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 21px;
  color: var(--snippet-body-color);
}
pre.pygments .tok-kd, pre.pygments .tok-kt, pre.pygments .tok-kc, 
pre.pygments .tok-k, pre.pygments .tok-c1, .main .listingblock .tok-nt,
pre.pygments .tok-nv, pre.pygments .tok-nb, pre.pygments .tok-nn,
pre.pygments .tok-mf, pre.pygments .tok-cp, pre.pygments .tok-mi {
  color: #84ADFF !important;
}
pre.pygments .tok-n {
  color: #D0D5DD !important;
}
pre.pygments .tok-mi, pre.pygments .tok-cp, pre.pygments .tok-m, pre.pygments .tok-mf {
  color: #9B8AFB !important;
}
pre.pygments .tok-nf, pre.pygments .tok-na, pre.pygments .tok-kn,
pre.pygments .tok-no, pre.pygments .tok-kp, pre.pygments .tok-cm, pre.pygments .tok-nc,
pre.pygments .tok-ch, pre.pygments .tok-nd {
  color: #6CE9A6 !important;
}

pre.pygments .tok-se {
  color: #FDA29B !important;
}

pre.pygments [data-lang="bash"] .tok-s2, 
pre.pygments [data-lang="bash"] .tok-s1 {
  color: #FACC61 !important;
}

@media screen and (max-width: 1520px) {
  .card-wrapper .card-text {
    min-height: 110px;
  }
}

.DocSearch-Modal, .DocSearch-Hit-source, .DocSearch-Hit a, .DocSearch-Footer {
  background-color: var(--background-color);
}

.DocSearch-Hit a, .DocSearch-Footer, .DocSearch-Modal {
  box-shadow: var(--color);
}

 .DocSearch-Form {
  background-color: var(--background-color);
}

.DocSearch-Form .DocSearch-Input {
  color: var(--color);
}

.DocSearch.DocSearch-Button {
    margin-left: 0;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    background-color: var(--color-searchbar);
    border: 1px solid var(--color-base-white);
    box-shadow: 0 1px 2px #1018280D;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}
.search-form-wrapper .DocSearch-Button-Keys {
  display: none;
}
.DocSearch-Hit-content-wrapper {
  overflow-x: inherit !important;
}
.search-form-wrapper .DocSearch-Button .DocSearch-Search-Icon {
  color: #9CA3AF;
  width: 20px;
  height: 20px;
}
.search-form-wrapper .DocSearch-Button-Placeholder {
  padding-left: 10px;
}
.oneline_with_image img {
    display: inline-block;
    height: 30px;
    margin: 0 10px;
}

.warning table td, .warning table,
.important table td, .important table {
  border: none;
}
.copy-icon-container {
  display: flex;
  align-items: center;
}
.copy-icon-container span {
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 10px;
  background-color: var(--color-base-white);
  color: var(--color);
  bottom: 40px;
  left: 40px;
}
.copy-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  margin: -8px -14px 8px;
  padding: 0 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: var(--snippet-header-bg);
  color: var(--snippet-header-color) !important;
}
.copy-icon svg {
  cursor: pointer;
  color: var(--snippet-header-color) !important;
}
.copy-icon p { 
  margin-bottom: 0;
  color: var(--snippet-header-color) !important;
}
.icon-tip {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 502 502' xml:space='preserve'%3E%3Cpath d='M230.523 78.722c-35.583-.342-69.221 13.48-94.756 38.802-25.528 25.316-39.587 58.839-39.587 94.396 0 34.708 13.278 67.567 37.387 92.524 24 24.844 37.216 57.409 37.216 91.697v70.281c0 5.523 4.477 10 10 10h12.756C197.871 491.185 211.53 502 227.676 502s29.805-10.815 34.138-25.578h16.166c5.523 0 10-4.477 10-10v-70.275c0-34.627 12.99-66.961 36.576-91.044 24.522-25.04 38.027-58.133 38.027-93.185 0-35.38-13.723-68.697-38.64-93.812-24.902-25.1-58.079-39.086-93.42-39.384zM227.676 482c-4.787 0-9.076-2.17-11.936-5.578h23.872c-2.86 3.408-7.149 5.578-11.936 5.578zm40.304-25.578h-77.197v-37.125h77.197v37.125zm42.287-165.313c-27.269 27.844-42.287 65.148-42.287 105.039v3.15h-77.197v-3.156c0-39.5-15.211-77-42.832-105.593-20.488-21.208-31.771-49.133-31.771-78.629 0-30.183 11.958-58.663 33.67-80.194 21.72-21.538 50.338-33.226 80.505-33.005 61.882.521 112.228 51.301 112.228 113.197 0 29.789-11.477 57.912-32.316 79.191zM229.381 55.584c5.523 0 10-4.477 10-10V10c0-5.523-4.477-10-10-10s-10 4.477-10 10v35.584c0 5.523 4.477 10 10 10zM85.246 29.896a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.247 5.458-9.5 2.212-13.968l-7.108-9.783C91.073 3.89 84.82 2.9 80.351 6.146c-4.468 3.247-5.458 9.5-2.212 13.968l7.107 9.782zM124.729 84.239a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.246 5.458-9.5 2.212-13.968l-19.113-26.308c-3.246-4.468-9.499-5.459-13.968-2.212-4.468 3.246-5.458 9.5-2.212 13.968l19.112 26.307zM37.031 160.15l33.843 10.996a10.01 10.01 0 0 0 3.092.492c4.215 0 8.136-2.687 9.509-6.913 1.707-5.253-1.168-10.894-6.42-12.601l-33.843-10.996c-5.251-1.705-10.894 1.168-12.601 6.42-1.707 5.254 1.167 10.895 6.42 12.602zM84.808 260.51c-1.707-5.253-7.346-8.126-12.601-6.42l-33.843 10.996c-5.252 1.707-8.127 7.348-6.42 12.601 1.373 4.226 5.293 6.913 9.509 6.913a10.01 10.01 0 0 0 3.092-.492l33.843-10.996c5.252-1.708 8.126-7.349 6.42-12.602zM102.626 391.668c-4.467-3.246-10.721-2.255-13.968 2.212l-8.903 12.253c-3.246 4.468-2.256 10.722 2.212 13.968a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l8.903-12.253c3.246-4.467 2.256-10.72-2.213-13.967z'/%3E%3Cpath d='M134.544 347.736c-4.468-3.246-10.722-2.255-13.968 2.212l-8.845 12.175c-3.246 4.468-2.255 10.722 2.212 13.968a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l8.845-12.175c3.246-4.467 2.255-10.721-2.213-13.967zM338.347 336.895c-3.246-4.468-9.499-5.459-13.968-2.212-4.468 3.247-5.458 9.5-2.212 13.968l20.916 28.789a9.988 9.988 0 0 0 8.099 4.123 9.96 9.96 0 0 0 5.87-1.91c4.468-3.247 5.458-9.5 2.212-13.968l-20.917-28.79zM426.045 260.984l-33.843-10.997c-5.252-1.705-10.894 1.168-12.601 6.42-1.707 5.252 1.168 10.894 6.42 12.601l33.843 10.997a10.01 10.01 0 0 0 3.092.492c4.215 0 8.136-2.687 9.509-6.913 1.707-5.251-1.167-10.893-6.42-12.6zM471.39 130.367c-1.706-5.252-7.347-8.127-12.601-6.42l-14.678 4.769c-5.252 1.707-8.127 7.348-6.42 12.601 1.373 4.226 5.293 6.913 9.509 6.913a10.01 10.01 0 0 0 3.092-.492l14.678-4.769c5.252-1.708 8.126-7.349 6.42-12.602zM387.777 167.536a10.01 10.01 0 0 0 3.092-.492l25.994-8.446c5.252-1.707 8.127-7.348 6.42-12.601-1.707-5.252-7.347-8.127-12.601-6.42l-25.994 8.446c-5.252 1.707-8.127 7.348-6.42 12.601 1.374 4.225 5.294 6.912 9.509 6.912zM320.89 83.916a9.952 9.952 0 0 0 5.87 1.91 9.99 9.99 0 0 0 8.099-4.123l20.916-28.789c3.246-4.468 2.255-10.722-2.212-13.968-4.469-3.246-10.722-2.255-13.968 2.212l-20.916 28.789c-3.248 4.469-2.257 10.722 2.211 13.969zM288.349 135.549c-11.289-8.76-24.609-14.981-38.521-17.992-5.395-1.169-10.721 2.26-11.889 7.659-1.168 5.398 2.261 10.721 7.659 11.889 11.007 2.382 21.55 7.308 30.491 14.245a9.954 9.954 0 0 0 6.124 2.1 9.981 9.981 0 0 0 7.907-3.87c3.385-4.363 2.592-10.645-1.771-14.031zM202.914 119.066c-41.096 11.729-69.797 49.799-69.797 92.579 0 5.523 4.477 10 10 10s10-4.477 10-10c0-33.895 22.735-64.056 55.287-73.346 5.311-1.516 8.387-7.05 6.872-12.361-1.518-5.31-7.052-8.388-12.362-6.872z'/%3E%3C/svg%3E");
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
}
.main table td.icon {
  text-align: center;
}
.icon-warning {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='554.2' height='554.199' xml:space='preserve' fill='%23E44C3A'%3E%3Cpath d='M538.5 386.199 356.5 70.8a91.803 91.803 0 0 0-79.501-45.9c-32.8 0-63.1 17.5-79.5 45.9L12.3 391.6a91.793 91.793 0 0 0 0 91.8c16.4 28.4 46.7 45.9 79.5 45.9H462.4c50.7 0 91.8-41.101 91.8-91.8 0-19-5.8-36.7-15.7-51.301zm-222.2 30.7c0 21.7-16.7 38.3-39.2 38.3s-39.2-16.6-39.2-38.3V416c0-21.601 16.7-38.301 39.2-38.301S316.3 394.3 316.3 416v.899zm.9-258.199-19.4 169.4c-1.3 12.2-9.4 19.8-20.7 19.8s-19.4-7.7-20.7-19.8L237 158.6c-1.3-13.1 5.801-23 18-23h44.1c12.2.1 19.4 10 18.1 23.1z'/%3E%3C/svg%3E%0A");
  width: 40px;
  height: 39px;
  background-size: 100%;
}
.icon-important {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cg transform='scale(.521)'%3E%3Ccircle cx='96' cy='96' r='74' fill='%23E44C3A'/%3E%3Cpath d='M86 48h20l-4 72H90z' fill='%23fff'/%3E%3Ccircle cx='96' cy='140' r='10' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.main .admonitionblock {
  background-color: var(--color-primary-50);
  border: 1px solid var(--color-primary-100);
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 12px;
}
.main .admonitionblock table {
  margin-bottom: 0 !important;
}
.main .admonitionblock.tip table,
.main .admonitionblock.tip table td {
  border: none;
}
.main .admonitionblock table td {
  padding: 0;
}
.main .admonitionblock .table-wrap table tbody {
  background: transparent !important;
}
.main .admonitionblock tr {
  border: no;
}
.main .admonitionblock .table-wrap {
  all: unset;
}
.main .table-wrap .content {
  line-height: 1.5;
  width: 100%;
}
/*Light box start*/

.lightbox-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ebebeb;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 8px;
  max-width: 95vw;
  width: 100%;
  height: 90vh;
}
.lightbox-modal .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.lightbox-modal .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
}
@media (max-width: 1023px) {
  .lightbox-modal {
    height: auto;
    max-width: 95vw;
  }
}
#close-ligtbox {
  position: absolute;
  right: -35px;
  top: -35px;
  display: block;
  width: 30px;
  font-size: 36px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 1023px) {
  #close-ligtbox {
    right: 0;
    top: -40px;
    width: 24px;
    font-size: 28px;
  }
}
.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.paragraph {
  font-size: 15px;
  font-weight: 400;
}
.imageblock .content {
  background-color: #ffff;
  border-radius: 16px;
  margin-bottom: 10px;
}
.imageblock img, .paragraph .image img {
  cursor: pointer;
}
/*Light box end*/

.ulist {
  margin-left: 10px;
}
.main ol.arabic:first-child .ulist p,
.ulist ul li p {
  margin-left: 0!important;
}

.ulist li::marker {
  font-size: 20px;
  color: #6d7176;
}
.ulist li ul {
  list-style-type: none;
}
.ulist li ul li {
  position: relative;
  padding-left: 24px;
}
.ulist li ul li:before { 
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 7px;
  height: 7px;
  background-color: #6d7176;
  border-radius: 50%;
}
.right-side-menu ul ul li:not(:last-child) {
  margin-bottom: 8px;
}
.imageblock .title {
  margin-bottom: 24px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 18px;
  background-color: #D1E0FF;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  background: url(images/toggle/light.svg) no-repeat;
  background-size: 22px;
  background-position-y: center;
  background-position-x: center;
  height: 30px;
  width: 30px;
  bottom: 4px;
  border: 1px solid #EAECF0;
  top: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--link-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--link-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  border: 1px solid #344054;
  background: url(images/toggle/dark.svg) no-repeat, var(--background-color);
  background-position-y: center;
  background-position-x: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon-left {
  rotate: 180deg;
}

.i-arrow {
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--color);
}

.arrow-icon {
  display: flex;
}

.bottom-nav-links {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.bottom-nav-links a {
  text-decoration: none;
}

.bottom-nav-links .bottom-nav-link {
  display: flex;
  height: 90px;
  padding: 16px 24px 16px 24px;
  align-items: center;
  min-width: calc(50% - 16px);
  flex-wrap: wrap;
  border-radius: 12px;
}
@media (max-width: 612px) {
  .bottom-nav-links {
    flex-direction: column;
  }
  .bottom-nav-links .bottom-nav-link {
    width: 100%;
    margin-top: 20px;
  }
}
.bottom-nav-links .bottom-nav-link{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  border-color: var(--color-gray-200);
  transition: 0.2s ease-in-out;
}

.bottom-nav-links .bottom-nav-link:hover {
  border-color: var(--link-color);
}

.bottom-nav-links .bottom-nav-link.prev {
  margin-right: auto;
  align-items: start;
  color: var(--color) !important;
}

.bottom-nav-links .bottom-nav-link.next {
  margin-left: auto;
  align-items: end;
  color: var(--color) !important;
}

.bottom-nav-links .bottom-nav-link.next .next-text{
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
}

.bottom-nav-links .bottom-nav-link.prev .prev-text {
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
}

.bottom-nav-links .bottom-nav-text {
  color: var(--link-color);
  font-weight: 400;
}

.hamburger {
  fill: var(--color);
  rotate: 0deg;
}

.sidebar-toggler.active .hamburger path:is(:first-child) {
  rotate: 45deg;
  transform-origin: 45% 37%;
  transition: all 0.15s linear;
}

.sidebar-toggler.active .hamburger path:is(:nth-child(2)) {
  fill: transparent !important;
}

.sidebar-toggler.active .hamburger path:is(:nth-child(3)) {
  rotate: -45deg;
  transform-origin: 10% 50%;
}

.sidebar-toggler .hamburger path:is(:first-child) {
  rotate: 0deg;
  transform-origin: 45% 37%;
  transition: all 0.15s linear;
}

.sidebar-toggler .hamburger path:is(:nth-child(2)) {
  fill: var(--color) !important;
}

.sidebar-toggler .hamburger path:is(:nth-child(3)) {
  rotate: 0deg;
  transform-origin: 10% 50%;
  transition: all 0.15s linear;
}

.nav-link.external, .bottom-nav-text.external {
  display: flex !important;
  align-items: center;
}

.nav-link.external::after, .bottom-nav-text.external::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M10.5 4.5L10.5 1.5M10.5 1.5H7.49999M10.5 1.5L6 6M5 1.5H3.9C3.05992 1.5 2.63988 1.5 2.31901 1.66349C2.03677 1.8073 1.8073 2.03677 1.66349 2.31901C1.5 2.63988 1.5 3.05992 1.5 3.9V8.1C1.5 8.94008 1.5 9.36012 1.66349 9.68099C1.8073 9.96323 2.03677 10.1927 2.31901 10.3365C2.63988 10.5 3.05992 10.5 3.9 10.5H8.1C8.94008 10.5 9.36012 10.5 9.68099 10.3365C9.96323 10.1927 10.1927 9.96323 10.3365 9.68099C10.5 9.36012 10.5 8.94008 10.5 8.1V7' stroke='%23ACAEBC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  padding-left: 3px;
}
.loader-wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid var(--link-color);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

span.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-radius: 50%;
}
