/*Default CSS*/

/* Asciidoctor default stylesheet | MIT License | http://asciidoctor.org */

@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #374151;
  max-width: 100%;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

img[align=center] {
  margin: 0 auto;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}
a,
h2,
h3,
h4 {
  color: #167BB7;
}
h1,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}
h2 {
  font-weight: 600;
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

.header {
  padding: 16px 0;
  background: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .06);
}
.header-wrapper .logo {
  max-width: 215px;
  margin: auto;
  width: 80%;
}
.header-wrapper .search-form-wrapper {
  flex-grow: 1;
}
.header-wrapper .search-form {
  position: relative;
}
.header-wrapper .search-form .algolia-autocomplete {
  width: 100%;
}
.header-wrapper .search-form input[type="search"] {
  width: 100%;
  padding: 9px 9px 9px 40px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.header-wrapper .search-form .ds-dropdown-menu {
  max-width: none;
  width: 100%;
}
.header-wrapper .search-form .search-form-icon {
  position: absolute;
  left: 13px;
  top: 9px;
  z-index: 1;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
.content-wrapper {
  padding: 24px 40px;
}


.content-wrapper .banner {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 174px;
  margin-bottom: 24px;
  padding: 0 40px;
  background-color: #167BB7;
  border-radius: 8px;
}
.content-wrapper .banner .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main {
  line-height: 1.5;
}

.main p {
  margin-bottom: 12px;
}

.main .sidebar {
  width: 100%;
  flex-shrink: 0;
  margin-right: 40px;
  position: sticky;
  top: 0;
}

.main .sidebar .icon-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  cursor: pointer;
}

.main .sidebar .icon-title .left-part{
  display: flex;
  align-items: center;
}

.main .sidebar .icon-title .chevron, .main .sidebar .icon-title.bd-link-active-wrap .chevron.rotated {
  transform: rotate(180deg);
}

.main .sidebar .icon-title.bd-link-active-wrap .bd-toc-link {
  color: #167BB7;
}

.main .sidebar .icon-title .chevron.rotated, .main .sidebar .icon-title.bd-link-active-wrap .chevron{
  transform: rotate(0);
}

.main .sidebar .bd-link-active-wrap  .chevron path {
  fill: #D1D5DB;
}

.main .sidebar .bd-link-active-wrap svg path {
  fill: #167BB7;
}

.main .sidebar .icon-title svg {
  margin-right: 8px;
}

.main .sidebar-nav,
.main .right-side-menu
{
  overflow-y: scroll;
  height: 100vh;
  padding: 24px;
}

.main .sidebar-nav {
  background-color: #FBFDFF;
  margin-left: -15px;
}

.main .right-side-menu {
  direction: rtl;
  padding: 24px 0 0 10px;
}

.main .right-side-menu .navbar-nav {
  direction: ltr;
}

.main .sidebar-nav::-webkit-scrollbar,
.main .right-side-menu::-webkit-scrollbar
{
  width: 8px;
}

.main .sidebar-nav::-webkit-scrollbar-track,
.main .right-side-menu::-webkit-scrollbar-track
{
  background-color: #F3F4F6;
}

.main .sidebar-nav::-webkit-scrollbar-thumb,
.main .right-side-menu::-webkit-scrollbar-thumb
{
  background-color: #D1D5DB;
  width: 6px;
  border-radius: 32px;
}

.main .sidebar-nav a {
  color: #1F2937;
  font-size: 12px;
}

.main .sidebar-nav a.bd-toc-link {
  font-weight: 500;
  font-size: 14px;
  display: block;
}

pre.pygments .tok-o {
  color: #167BB7;
}

.main p code {
  color: #374151;
  font-size: 14px;
}

.main table,.main table td,.main table th {
  border: 1px solid #dedede;
  padding: 10px;
}

.main .note table,.main .note table td,.main .note table th {
  border: none;
}

.main .note .icon {
  width: 60px;
}

.main .note .icon .fa.icon-note {
  display: none;
}

.main .note .content {
  font-size: 14px;
  font-weight: normal;
  color: #374151;
}

.main table td.icon svg{
  width: 30px;
  height: auto;
}

.main table td.icon .title {
  display: none;
}

.main table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.main table .title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 5px;
}

pre.pygments .tok-o {
  color: #167BB7!important;
}

.main .sidebar-nav > ul li ul {
  display: none;
}

.main .sidebar-nav > ul li ul.active-list {
  display: block;
}

.main .sidebar-nav > ul li ul li a{
  display: block;
  position: relative;
  padding-left: 16px;
}

.main .sidebar-nav > ul li ul li a::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: #EBEBEF;
}

.main .sidebar-nav > ul li ul li.list-item-active a::before {
  background-color: #167BB7;
}

.main .sidebar-nav > ul li ul li:first-child a::before {
  border-radius: 32px 32px 0px 0px;
}

.main .sidebar-nav > ul li ul li:last-child a::before {
  border-radius: 0px 0px 32px 32px;
}

.main .sidebar-nav > .navbar-nav  > li {
  margin-bottom: 26px;
}

.main .right-side-menu {
  position: sticky;
  top: 0;
  height: 100vh;
}

.main .right-side-menu > .navbar-nav {
  position: relative;
}

.main .right-side-menu > .navbar-nav:before {
  content: "In this document";
  display: block;
  color: #9CA3AF;
  font-size: 14px;
  padding-left: 10px;
}

.main .right-side-menu > ul > li > a {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
  padding: 4px 10px;
}

.main .right-side-menu > .navbar-nav .navbar-nav li a,
.main .right-side-menu > .navbar-nav li a{
  padding-left: 15px;
}

.main .right-side-menu .nav-link {
  border: none!important;
  color: #374151!important;
}

.main .right-side-menu .nav-link.active{
  color: #167BB7!important;
}

.main .right-side-menu .navbar-nav {
  display: block;
}

.main img {
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 24px;
  margin-top: 10px;
}

.main .note img {
  box-shadow: none;
  border-radius: 0;
  min-width: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.main .imageblock img {
  height: auto;
}

.main .listingblock, .literalblock > .content pre {
  padding: 8px 14px;
  background: #50576A;
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #CECECE;
}

pre.pygments {
  background: #50576A!important;
  margin-bottom: 0;
}

.main .listingblock  .tok-nt {
  color: #29A9C9;
}

.main .listingblock .tok-s {
  color: #E44C3A;
}

.main .listingblock  .tok-p {
  color: #F5FBFF;
}

.main ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  color: #167BB7;
  margin-left: 20px;
  margin-bottom: 16px;
}

.main ol > li {
  position: relative;
  counter-increment: my-awesome-counter;
  font-size: 10px;
  font-weight: 600;
}

.main ol> li::before {
  content: counter(my-awesome-counter);
  width: 22px;
  height: 22px;
  border: 1px solid #167BB7;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1px;
  left: -20px;
  background: transparent;
}

.main ol.arabic:first-child p {
  color: #374151;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.main .content-wrapper ul{
  color: #374151;
  list-style: disc;
  margin-left: 20px;
}

.main .content-wrapper ul > li ul {
  list-style: circle;
}

.main .content-wrapper ul.nav-tabs{
  list-style: none;
}

.main .content-wrapper ol.loweralpha {
  list-style: none;
}

.main ol.loweralpha > li::before {
  content: ' ';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #374151;
  border: none;
  left: -5px;
  top: 8px;
}


.main h2, .main h3 {
  margin-bottom: 16px;
  padding-top: 24px;
}

.main h4 {
  margin-bottom: 16px;
  padding-top: 16px;
}

.content-wrapper h2 a, .content-wrapper h3 a, .content-wrapper h4 a {
  display: none;
  margin-left: 5px;
}

.content-wrapper h4 a svg {
  height: 14px;
  width: auto;
}

.content-wrapper h2:hover a, .content-wrapper h3:hover a, .content-wrapper h4:hover a {
  display: inline;
}

.breadcrumbs-wrapper {
  margin-bottom: 24px;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li {
  display: flex;
  align-items: center;
}
.breadcrumbs-list li:not(:last-of-type):after {
  content: '/';
  margin-left: 6px;
  margin-right: 6px;
}
.breadcrumbs-list a {
  display: flex;
  align-items: center;
  letter-spacing: -0.025em;
  color: #374151;
}
.breadcrumbs-list a svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.note table code {
  color: #374151;
}

.banner .absolute-figure {
  position: absolute;
}

.banner .absolute-figure.abstract-figure {
  right: 0;
}

.banner .absolute-figure.circle2 {
  right: 30%;
  top: 10%;
}

.banner .absolute-figure.circle3 {
  right: 15%;
  top: 10%;
}

.banner .absolute-figure.circle4 {
  left: 5%;
  top: 10%;
}

.banner .absolute-figure.circle5 {
  left: 30%;
}

.banner .absolute-figure.circle6 {
  left: 6%;
  bottom: 0;
}

.banner .absolute-figure.circle7 {
  left: 35%;
  bottom: 15%;
}

.banner .absolute-figure.circle8 {
  left: 55%;
  bottom: 0;
}

.banner .absolute-figure.circle9 {
  bottom: 0;
  right: 0;
}

.doclink {
  position: fixed;
  bottom: 0;
  padding: 0 15px 10px;
  background-color: #FBFDFF;
  z-index: 1000;
  font-size: 12px;
}

.btn-primary, .btn-primary:hover {
  background-color: #167BB7;
  border-color: #167BB7;
}

.card-wrapper .card-text {
  min-height: 80px;
}

.card-wrapper .card-body {
  padding: 1.25rem 0.25rem;
}

pre.pygments .tok-c1 {
  color: #29A9C9!important;
}

@media screen and (max-width: 1520px) {
  .card-wrapper .card-text {
    min-height: 110px;
  }
}

.DocSearch.DocSearch-Button {
    margin-left: 0;
    width: 100%;
    height: 44px;
    padding: 0 22px;
}

.DocSearch-Hit-content-wrapper {
  overflow-x: inherit !important;
}
