html,
body {
  height: 100%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
}

/* Gernal styles */
.toggle-nav-btn {
  position: absolute;
  right: 0;
  top: 18px;
}
.bd-sidebar {
  height: 100vh !important;
}
.main-link {
  border-left: 2px solid #1f7cb5;
  color: #1f7cb5 !important;
  cursor: pointer;
}
/* 
.bd-links {
  height: 100% !important;
} */

/* card styles */
.card-wrapper {
  height: 280px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.card-wrapper .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper .card-body .card-title {
  color: #ba3925;
}
#cards .btn-primary {
  background-color: #1f7cb5;
  border-color: #1f7cb5;
}
/* media quires */
@media (max-width: 768px) {
  .bd-sidebar {
    height: 100px !important;
  }
  .bd-links {
    background: white;
    z-index: 9;
    position: relative;
    height: 300px;
    overflow-y: scroll;
    margin-top: -5px;
    border-bottom: 1px solid #d6d6d6;
  }
}
@media (min-width: 768px) {
  .bd-links {
    height: 100% !important;
    overflow-y: auto;
  }
  .bd-sidebar {
    top: 0 !important;
  }
}
